body{
    background-color: rgb(5, 5, 60);
    display: flex;
    justify-content: center;
    color: #fff;
}

form{
    width: 400px;
}
form.input{
    display: flex;
    justify-content: center;
 
}
input{
    width: 350px;
    /* margin: 20px; */
    height: 30px;
}